<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <meta name="fediverse:creator" content="@bw@social.lol" />

    <title>{{ title }}</title>

    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ summary }}" />
    <meta property="og:image" content="/assets/img/design/og.png" />

    <!-- favicon -->
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="/assets/img/design/favicon.png"
    />

    <script>
      /**
       * A global function that the theme toggle can use to apply the current theme.
       * @param {string | undefined} override - The setting that needs to be applied or undefined
       * @returns {string} - The applied theme setting
       */
      window.applyThemeSetting = function (override) {
        const getSystemPreference = () => {
          if (
            window.matchMedia &&
            window.matchMedia('(prefers-color-scheme: dark)').matches
          ) {
            return 'dark';
          }
          return 'light';
        };
        const currentSetting =
          override ||
          localStorage.getItem('user-color-scheme') ||
          getSystemPreference();
        const currentThemeValue =
          document.documentElement.getAttribute('data-theme');
        if (currentSetting && currentSetting !== currentThemeValue) {
          document.documentElement.setAttribute('data-theme', currentSetting);
          localStorage.setItem('user-color-scheme', currentSetting);
        }
        return currentSetting;
      };
      window.applyThemeSetting();
    </script>

    <link rel="stylesheet" href="/assets/css/style.css" />

    <link
      href="//fastly-cloud.typenetwork.com/projects/8233/fontface.css?66ddfea4"
      rel="stylesheet"
      type="text/css"
    />

    <script defer src="/assets/js/app.js"></script>
    {% block scripts %}{% endblock %}
  </head>

  <body class="{{ tags | default('page', true) }}">
    {% block header %}
      <header class="site-header">
        <div class="logo-wrap">
          <p class="site-title container">
            <a href="/">
              <span class="sr-only">HTML for people</span>
              {% include "../assets/img/design/logo.svg" %}
              {# <img src="/assets/img/design/logo.svg" alt="HTML for people"> #}
            </a>
          </p>
        </div>

        <a href="#main-content" class="skip-link">Skip to content</a>

        <div class="container">{% include "partials/menu.njk" %}</div>
      </header>
    {% endblock %}

    <main id="main-content" class="container">
      {% block content %}
        {{ content | safe }}
      {% endblock %}
    </main>

    {% block after_main %}{% endblock %}

    <elevator-button title="Jump to menu">
      <a href="#main-menu">
        <span class="sr-only">Jump to menu</span>
      </a>
    </elevator-button>

    <div class="sticky-footer" style="margin-block-start: auto">
      <div class="promo">
        <div class="container">
          <p class="promo-title">Enjoying the book?</p>
          <div class="stack">
            <p>
              <em>HTML for People</em> is a labor of love. If you have the
              means, consider sending me a donation on Ko-fi and sharing the
              book on social media.
            </p>

            <p>
              <a href="https://ko-fi.com/blakewatson" class="button"
                >Donate on Ko-fi</a
              >
            </p>

            <p>Check out some of my other stuff:</p>
            <ul>
              <li>
                <a href="https://afinestart.me"
                  >A minimal new-tab page extension</a
                >
              </li>
              <li>
                <a href="https://synthwave.live/">A synthwave mix site</a>
              </li>
              <li>
                <a href="https://minimalcharactersheet.com/"
                  >A minimalist character sheet for D&D</a
                >
              </li>
              <li>
                <a href="https://blakewatson.com">My personal website</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <footer class="site-footer">
        <div class="container">
          <p class="mb-sm">
            <a href="/achievement-unlocked-hypertexter#resources-from-this-book"
              >Resources</a
            >
            &middot;
            <a href="https://github.com/blakewatson/htmlforpeople">GitHub</a>
            &middot;
            <a href="https://github.com/blakewatson/htmlforpeople/issues"
              >Report error</a
            >
            &middot;
            <a href="https://blakewatson.com/about">About the author</a>
            &middot;
            <a href="https://social.lol/@bw">Mastodon</a>
          </p>
          <p>
            A <a href="https://blakewatson.com">Blake Watson</a> project.
            Licensed under
            <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
              >CC BY-NC-SA 4.0</a
            >.
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
