<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>{{ title }}</title>

    <script>
      /**
       * A global function that the theme toggle can use to apply the current theme.
       * @param {string | undefined} override - The setting that needs to be applied or undefined
       * @returns {string} - The applied theme setting
       */
      window.applyThemeSetting = function (override) {
        const getSystemPreference = () => {
          if (
            window.matchMedia &&
            window.matchMedia('(prefers-color-scheme: dark)').matches
          ) {
            return 'dark';
          }
          return 'light';
        };
        const currentSetting =
          override ||
          localStorage.getItem('user-color-scheme') ||
          getSystemPreference();
        const currentThemeValue =
          document.documentElement.getAttribute('data-theme');
        if (currentSetting && currentSetting !== currentThemeValue) {
          document.documentElement.setAttribute('data-theme', currentSetting);
          localStorage.setItem('user-color-scheme', currentSetting);
        }
        return currentSetting;
      };
      window.applyThemeSetting();
    </script>

    <link rel="stylesheet" href="/assets/css/neat.css" />
    <link rel="stylesheet" href="/assets/css/prism.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />

    <link
      href="//fastly-cloud.typenetwork.com/projects/8233/fontface.css?66ddfea4"
      rel="stylesheet"
      type="text/css"
    />

    <script defer src="/assets/js/app.js"></script>
    {% block scripts %}{% endblock %}
  </head>

  <body>
    {% block header %}
      <header class="site-header container">
        <p class="site-title">
          <a href="/">HTML for People</a>
        </p>

        <a href="#main-content" class="skip-link">Skip to content</a>

        {% include "partials/menu.njk" %}
      </header>
    {% endblock %}

    <main id="main-content" class="container">
      {% block content %}
        {{ content | safe }}
      {% endblock %}
    </main>

    {% block after_main %}{% endblock %}

    <elevator-button title="Jump to menu">
      <a href="#main-menu">
        <span class="sr-only">Jump to menu</span>
      </a>
    </elevator-button>

    <div class="promo">
      <div class="container">
        <p class="promo-title">Enjoying the book?</p>
        <p>
          <em>HTML for People</em> is a labor of love. If you have the means,
          consider sending me a
          <a href="https://ko-fi.com/blakewatson">donation on Ko-fi</a> and
          sharing the book on social media.
        </p>

        <p>Check out some of my other stuff:</p>

        <ul>
          <li>
            <a href="https://afinestart.me">A minimal new-tab page extension</a>
          </li>
          <li>
            <a href="https://synthwave.live/">A synthwave mix site</a>
          </li>
          <li>
            <a href="https://minimalcharactersheet.com/"
              >A minimalist character sheet for D&D</a
            >
          </li>
          <li>
            <a href="https://blakewatson.com">My personal website</a>
          </li>
        </ul>
      </div>
    </div>

    <footer class="site-footer">
      <div class="container">
        <p>
          A <a href="https://blakewatson.com">Blake Watson</a> project.
          Copyright 2024. All rights reserved.
        </p>
      </div>
    </footer>
  </body>
</html>
