{% extends "base.njk" %}

{% block content %}
  {{ content | safe }}
  {% set previousPost = collections.sortedChapter | getPreviousCollectionItem %}
  {% set nextPost = collections.sortedChapter | getNextCollectionItem %}

  {% if previousPost or nextPost %}
    <nav
      class="mb-xl"
      style="display: flex; flex-direction: column; gap: 0.5rem;"
    >
      {% if nextPost %}
        <p>
          <strong><span role="presentation">&rarr;</span> Next chapter:</strong>
          <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
        </p>
      {% endif %}

      {% if previousPost %}
        <p>
          <strong
            ><span role="presentation">&larr;</span> Previous chapter:</strong
          >
          <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
        </p>
      {% endif %}
    </nav>
  {% endif %}
{% endblock %}

{% block after_main %}
{% endblock %}
