@import url('spacing.css');

/* ANCHOR Config
------------------------------------------------------------- */

:root {
  color-scheme: light;
  --dark: #1c1b19;
  --moredark: #111110;
  --light: #fff;
  --lesslight: #fbedef;
  --accent: #b21e4f;
  --border: #c6c6c6;
  --main-menu-bg: #eee;
  --bg-alt: #fff8f0;
  --aside-bg: #fbedef;

  --text: 'Valkyrie B', 'Iowan Old Style', 'Georgia', Apple Garamond,
    Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --headings: 'Hermes Maia 2', -apple-system, BlinkMacSystemFont, avenir next,
    avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto,
    arial, sans-serif;
  --code: 'Input Mono', monospace;

  --li-spacing: 0.25em;
}

/* Dark color scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme='dark'] {
  color-scheme: dark;
  --dark: #fff8f0;
  --moredark: #f9c8ce;
  --light: #221f20; /* bg */
  --lesslight: #55152a; /* code bg */
  --accent: #f7708e;
  --border: #585555;
  --bg-alt: #283331;
  --aside-bg: #55152a;
}

/* ANCHOR Accessibility
------------------------------------------------------------- */

.sr-only,
.assistive-text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

/* Hide elements with the `hidden` attribute */
[hidden] {
  display: none;
}

.skip-link {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  opacity: 0;
  pointer-events: none;
}

.skip-link:focus {
  opacity: 1;
  pointer-events: auto;
}

/* ANCHOR Global styles
------------------------------------------------------------- */

body {
  max-width: unset;
  padding: unset;
}

.container {
  max-width: 800px;
  margin-inline: auto;
  padding-inline: 1em;
}

a {
  text-decoration-color: var(--accent);

  &:hover,
  &:focus {
    color: var(--accent);
    text-decoration-color: var(--accent);
  }
}

main details {
  border: 1px solid transparent;
  border-radius: 0.5em;
  overflow: hidden;

  &:hover,
  &:focus {
    border: 1px solid var(--border);
  }

  &[open] {
    border: 1px solid var(--border);
  }

  /* the last thing in the details element should have 0 margin-bottom
     the language thing is to increase specificity for code blocks */
  > &:last-child,
  > [class*='language-']:last-child {
    margin-block-end: 0;
  }
}

main summary {
  padding: 0.5em;
  cursor: pointer;

  &::marker {
    color: var(--accent);
  }

  /* the first thing after the summary element should have 0.5em margin-top
     the language thing is to increase specificity for code blocks */
  & + *,
  & + [class*='language-'] {
    margin-block-start: 0.5em;
  }
}

video {
  margin-block: 1.75em;
  max-width: 100%;
}

@media (min-width: 700px) {
  .container {
    padding-inline: 1.5em;
  }
}

/* Dark color scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme='dark'] {
  & img {
    opacity: 0.7;
    transition: opacity 150ms linear;
  }

  & img:hover {
    opacity: 1;
  }
}

/* ANCHOR Header
------------------------------------------------------------- */

.site-header {
  margin-block-end: 3rem;
}

.site-title {
  margin-block-start: 3rem;
  font-weight: bold;

  & a {
    text-decoration: none;
  }

  & a:before {
    content: '<';
    margin-inline-end: 0.25em;
    font-family: var(--text);
    color: var(--accent);
  }

  & a:after {
    content: '>';
    margin-inline-start: 0.25em;
    font-family: var(--text);
    color: var(--accent);
  }
}

.main-menu {
  border: 1px solid transparent;
  border-radius: 0.5em;

  &:hover,
  &:focus {
    border: 1px solid var(--border);
  }

  &[open] {
    border: 1px solid var(--border);
    padding-bottom: 1rem;
  }
}

.main-menu nav {
  padding-inline: 0.75em;
}

.main-menu summary {
  padding: 0.5em;
  cursor: pointer;

  &::marker {
    color: var(--accent);
  }
}

.main-menu ul {
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
  padding-inline-start: 0;
  padding-block-end: 0.5em;
  list-style-type: none;
}

/* Settings */

.settings {
  margin-inline: 0.75em;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 0.25em;
}

/* ANCHOR Typography
------------------------------------------------------------- */

:root {
  border-top: none; /* remove Neat border */
  font-family: var(--text);
}

main > * {
  margin-block: 0;
}

main > * + * {
  margin-block-start: 1rem;
}

h1,
h2,
h3,
h4 {
  & a {
    text-decoration: none;
    color: var(--text);

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

h1 {
  margin-block-end: 3rem;
}

h1,
h2 {
  font-family: var(--headings);
  font-weight: normal;
  text-wrap: pretty;
}

h2 {
  margin-block-start: 1.75em;
}

h3 {
  margin-block-start: 1.5em;
}

ul,
ol {
  padding-inline-start: 1.75em;
}

li {
  margin-block-start: var(--li-spacing);
}

li::marker {
  color: var(--accent);
}

code {
  display: inline-block;
  padding: 0 0.25em;
  border-radius: 0.25em;
  font-family: var(--code) !important;
  font-size: 0.85em;
  line-height: 1.5;
  color: #5f0e28;
}

pre[class*='language-'] > code {
  display: block;
  padding: 0;
  font-size: 0.75em;
}

pre,
pre[class*='language-'] {
  margin-block: 1.75em;
  padding: 1rem;
  border: 1px solid var(--border);
  border-radius: 0.25em;
  color: #1c1b19;
}

details pre,
details pre[class*='language-'] {
  border: none;
  border-radius: 0;
}

.token {
  color: unset;
}

.wrap-code code[class*='language-'],
.wrap-code [class*='language-'] {
  white-space: pre-wrap;
  /* word-break: break-word; */
}

@media (min-width: 700px) {
  :root {
    font-size: 1.25em;
  }

  pre,
  pre[class*='language-'] {
    margin-inline: -1em;

    details & {
      margin-inline: auto;
    }
  }
}

/* Dark color scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme='dark'] {
  & pre,
  & pre[class*='language-'] {
    --border: #c6c6c6;
    filter: invert(98%) hue-rotate(180deg) !important;
  }

  & code:not([class*='language-']) {
    color: #f9c8ce;
  }
}

/* ANCHOR Components
------------------------------------------------------------- */

aside {
  margin-block: 1.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 0.85em;
  line-height: 1.45;
  background-color: var(--aside-bg);

  * {
    margin: 0;
  }

  > * + * {
    margin-block-start: 1rem;
  }

  li {
    margin-block-start: var(--li-spacing);
  }

  code {
    background-color: #00000011;
  }

  pre,
  pre[class*='language-'] {
    margin-block: 1rem 0;
    margin-inline: 0;
  }
}

.aside-label {
  font-family: var(--headings);
  font-weight: bold;
  font-size: 0.85em;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.085em;
  color: var(--dark);

  & + * {
    margin-block-start: 0.5rem;
  }
}

figure {
  margin-inline: 0;

  & img {
    display: block;
    margin-inline: auto;
    max-width: 100%;
  }
}

figcaption {
  margin-block-start: 0.5rem;
  font-size: 0.85em;
}

elevator-button a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  box-shadow: 0 0 0.5rem 0.25rem #00000011;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: var(--dark);
  color: var(--light);
  text-decoration: none;
  opacity: 0;
  transition: opacity 0.2s linear;
  pointer-events: none;

  &.active {
    opacity: 1;
    pointer-events: auto;
  }

  &:before {
    content: '↑';
    color: var(--light);
  }
}

.elevator-arrow {
  color: var(--light);
}

/* Dark color scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme='dark'] {
  aside code:not(pre code) {
    background-color: #f7708e33;
  }
}

@media (min-width: 700px) {
  aside {
    margin-inline: -1em;
  }
}

/* ANCHOR Forms
------------------------------------------------------------- */

form button[type='submit'] {
  display: inline-block;
  width: unset;
}

/* ANCHOR Promo
------------------------------------------------------------- */

.promo {
  margin-block-start: 3rem;
  padding-block: 3rem;
  background-color: var(--bg-alt);

  & + .site-footer {
    margin-block-start: 0;
    padding-block-start: 1rem;
  }
}

.promo-title {
  font-size: 1.125rem;
  font-weight: bold;
}

/* Dark color scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme='dark'] {
  .promo {
    background-color: #283331;
    color: #fff8f0;
  }
}

/* ANCHOR Footer
------------------------------------------------------------- */

.site-footer {
  margin-block-start: 3rem;
  padding-block: 2rem;
  /* border-block-start: 1px solid var(--border); */
  font-size: 0.85em;
  background-color: var(--bg-alt);
}
