<details class="main-menu" id="main-menu">
  <summary>Menu</summary>

  <nav>
    <p class="menu-heading">
      <strong>Chapters</strong>
    </p>

    <ul>
      <li>
        <a href="/intro">Introduction</a>
      </li>
      <li>
        <a href="/zero-to-internet-your-first-website"
          >Zero to internet: your first website</a
        >
      </li>
      <li>
        <a href="/add-content-to-your-website">Add content to your website</a>
      </li>
      <li>
        <a href="/intermission-upgrade-your-text-editor"
          >Intermission: upgrade your text editor</a
        >
      </li>
      <li>
        <a href="/a-website-with-style">A website with style</a>
      </li>
      <li>
        <a href="/adding-an-about-page">Adding an about page</a>
      </li>
      <li>
        <a href="/adding-a-blog">Adding a blog</a>
      </li>
      <li>
        <a href="/adding-a-resume">Adding a resume</a>
      </li>
      <li>
        <a href="/intermission-installing-a-local-web-server"
          >Intermission: installing a local web server</a
        >
      </li>
      <li>
        <a href="/adding-a-fun-page">Adding a fun page</a>
      </li>
      <li>
        <a href="/achievement-unlocked-hypertexter"
          >Achievement unlocked: Hypertexter</a
        >
      </li>
    </ul>

    <p class="menu-heading">
      <strong>Bonus chapters</strong>
    </p>
    <ul>
      <li>
        <a href="/customizing-simple-css">Customizing Simple.css</a>
      </li>
      <li>
        <a href="/css-basics">CSS basics</a>
      </li>
      <li>
        <a href="/reusable-html-with-php">Reusable HTML with PHP</a>
      </li>
    </ul>

    <p class="menu-heading">
      <strong>Demos and resources</strong>
    </p>

    <ul>
      <li>
        <a target="_blank" rel="noopener" href="https://demo.htmlforpeople.com/"
          >Blake&rsquo;s Homepage demo</a
        >
      </li>
      <li>
        <a
          target="_blank"
          rel="noopener"
          href="https://planets.htmlforpeople.com/"
          >Planets of the Solar System demo</a
        >
      </li>
      <li>
        <a
          href="http://localhost:8080/achievement-unlocked-hypertexter#resources-from-this-book"
          >Resourses and links</a
        >
      </li>
    </ul>
  </nav>

  <div class="settings" hidden>
    <p class="menu-heading">
      <strong>Settings</strong>
    </p>

    <theme-toggle>
      <label class="checkbox theme-toggle">
        <input type="checkbox" /> Dark theme
      </label>
    </theme-toggle>

    <code-wrap>
      <label class="checkbox code-wrap">
        <input type="checkbox" /> Wrap code samples
      </label>
    </code-wrap>
  </div>
</details>
