<details class="main-menu" id="main-menu">
  <summary>Menu</summary>

  <nav>
    <p class="menu-heading">
      <strong>Chapters</strong>
    </p>

    <ul>
      <li>
        <a href="/intro" {% current "00-intro", page.fileSlug %}
          >Introduction</a
        >
      </li>
      <li>
        <a
          href="/zero-to-internet-your-first-website"
          {% current "01-zero-to-internet-your-first-website", page.fileSlug %}
          >Zero to internet: your first website</a
        >
      </li>
      <li>
        <a
          href="/add-content-to-your-website"
          {% current "02-add-content-to-your-website", page.fileSlug %}
          >Add content to your website</a
        >
      </li>
      <li>
        <a
          href="/intermission-upgrade-your-text-editor"
          {% current "03-intermission-upgrade-your-text-editor", page.fileSlug %}
          >Intermission: upgrade your text editor</a
        >
      </li>
      <li>
        <a
          href="/a-website-with-style"
          {% current "04-a-website-with-style", page.fileSlug %}
          >A website with style</a
        >
      </li>
      <li>
        <a
          href="/adding-an-about-page"
          {% current "05-adding-an-about-page", page.fileSlug %}
          >Adding an about page</a
        >
      </li>
      <li>
        <a href="/adding-a-blog" {% current "06-adding-a-blog", page.fileSlug %}
          >Adding a blog</a
        >
      </li>
      <li>
        <a
          href="/adding-a-resume"
          {% current "07-adding-a-resume", page.fileSlug %}
          >Adding a resume</a
        >
      </li>
      <li>
        <a
          href="/intermission-installing-a-local-web-server"
          {% current "08-intermission-installing-a-local-web-server", page.fileSlug %}
          >Intermission: installing a local web server</a
        >
      </li>
      <li>
        <a
          href="/adding-a-fun-page"
          {% current "09-adding-a-fun-page", page.fileSlug %}
          >Adding a fun page</a
        >
      </li>
      <li>
        <a
          href="/achievement-unlocked-hypertexter"
          {% current "10-achievement-unlocked-hypertexter", page.fileSlug %}
          >Achievement unlocked: Hypertexter</a
        >
      </li>
    </ul>

    <p class="menu-heading">
      <strong>Bonus chapters</strong>
    </p>
    <ul>
      <li>
        <a
          href="/customizing-simple-css"
          {% current "11-customizing-simple-css", page.fileSlug %}
          >Customizing Simple.css</a
        >
      </li>
      <li>
        <a href="/css-basics" {% current "12-css-basics", page.fileSlug %}
          >CSS basics</a
        >
      </li>
      <li>
        <a
          href="/reusable-html-with-php"
          {% current "13-reusable-html-with-php", page.fileSlug %}
          >Reusable HTML with PHP</a
        >
      </li>
    </ul>

    <p class="menu-heading">
      <strong>Demos and resources</strong>
    </p>

    <ul>
      <li>
        <a target="_blank" rel="noopener" href="https://demo.htmlforpeople.com/"
          >Blake&rsquo;s Homepage demo</a
        >
      </li>
      <li>
        <a
          target="_blank"
          rel="noopener"
          href="https://planets.htmlforpeople.com/"
          >Planets of the Solar System demo</a
        >
      </li>
      <li>
        <a href="/achievement-unlocked-hypertexter#resources-from-this-book"
          >Resourses and links</a
        >
      </li>
    </ul>
  </nav>

  <div class="settings" hidden>
    <p class="menu-heading">
      <strong>Settings</strong>
    </p>

    <theme-toggle>
      <label class="checkbox theme-toggle">
        <input type="checkbox" /> Dark theme
      </label>
    </theme-toggle>

    <code-wrap>
      <label class="checkbox code-wrap">
        <input type="checkbox" /> Wrap code samples
      </label>
    </code-wrap>
  </div>
</details>
